[submodule "api/account"]
	path = api/account
	url = https://github.com/repo-classes/pma.261.account.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/repo-classes/pma.261.account-service.git
[submodule "web/site"]
	path = web/site
	url = https://github.com/repo-classes/pma.261.site.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/repo-classes/pma.261.gateway-service.git
